/** 
	Amy Le
	CIS 14A
	Survey Site
**/

/** background image credit 
	black_thread by Listvetra from http://subtlepatterns.com/black-thread/


**/

body {
	background-image: url('images/black_thread.png');
	color: #C7B96D;
}

.wrapper {
/**fix margins once have more content **/
	margin:10% 20% 0 20%;
	min-width:1000px;
}

#banner {
	padding: 20px;
	background-color: rgba(102,79,46,.8);
	margin-bottom: 70px;
}

#banner h1 {
	font-size: 2.2em;
}

.sidebar {
	width:225px;
	float: left;
	background-color: rgba(109, 168, 199, .7);
	color:black;
	padding: 15px;
}

nav {
	margin-left: 40px;	
}

nav ul li {
	list-style: none;
}

.userMsg {
	margin-left: 8px;
}

.userMsg p:first-of-type{
	text-indent: 70px;
}

.userMsg p:last-of-type{
	text-indent: 30px;
}

#surveyList , .surveyForms, #submittedMessage, #box {
	border:1px solid black;
	width: 600px;
	padding: 20px;
	float:right;
	background: rgba(171, 136, 99, .6);
	margin-bottom: 50px;
}

button {
	float: left;
	margin-right: 15px;
}

.surveyDescription {
	margin-left: 110px;
	margin-top: 0;
}

#userList {
	border: 1px solid white;
	width: 600px;
	height: 800px;
	overflow:scroll;
	padding: 10px;
	margin: 0 10% 50px 10%;
}

#adminWrap{
	min-width: 1300px;
	margin: 0 10% 0 10%;
	
}

#loginWrapper{
	margin: 10% 40%;
}

footer {
	font-variant:small-caps;
	font-size:12px;
	margin: 0 40%;
	margin-top: 600px;
	clear: both;
}